@media (min-width: 992px) and (max-width: 1100px) {
	.header-menu {
		max-width: 640px;
		margin: 0px 100px 0 150px;
	}
	.mainScreen-text span {
		font-size: 30px;
		line-height: 44px;
		em {
			font-size: 42px;
			padding-right: 13px;
		}
	}
}
@media (max-width: 992px) {
	.header-contacts{
		margin-bottom: 15px;
		margin-right: 70px;
	}
	.navbar-toggle{ display:block;}
	.navbar-collapse{display:none;}
	.header-menu{
		width: auto;
		padding: 0;
		margin: 0;
		display:block;
		& .navbar-nav > li{
			display:block;
			a{  
				max-width: 180px;
				border:none;
				padding-left:30px;
				text-align:left;
				margin: 0;
			}
		}
	}
	.sm-clear{
		clear:both;
		font-size:1px;
		line-height:1px;
		height:0;
		overflow:hidden;
		display: block;
	}
	.mainScreen{
		padding: 20px 6px 0 6px;
	}
	.mainScreen-text span {
		font-size: 30px;
		line-height: 44px;
		em {
			font-size: 42px;
			padding-right: 13px;
		}
	}
	.mainScreen-text{
		position:static; 
		margin-bottom: 40px;
	}
	.feedback{
		position:static;
	}
}

@media (max-width: 490px){	
	.feedback{
		width:320px;
		margin:0 auto;
	}
	.feedback-body {
		padding: 22px 8px 48px 8px;
	}
	.header-logo{
		float:none;
		text-align:center;
	}
	.header-contacts{
		float:none;
		text-align:center;
		margin-right: 0; 
	}
	.header-menu{
		& .navbar-nav > li{
			a{  
				text-align:center;
				padding: 8px 5px;
				border:1px solid transparent;
				margin: 0 auto 4px auto;
			}
		}
	}
}