/* header layout */
.header{
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0px 3px 5px 0px rgba( 0, 0, 0, 0.15 );
  min-height: 80px;
  position:relative;
  z-index:2;
}
.header-logo{
    display: block;
    float: left; 
	padding-top: 10px;
}
.header-menu {
	max-width:680px;   
	margin: 0 100px 0 193px;
    padding-top: 20px;
	.navbar {
		margin-bottom: 0;
		border: 0!important;
		&-nav {
			visibility: visible;
			display:table;
			width:100%;
			>li {
				display:table-cell;
				vertical-align:middle;
				text-align:center;
				.dropdown-menu {
					margin-top: 2px;
				}
				a {  
					display:block;
					padding: 8px 5px;
					line-height: 21px;
					font-weight: normal;
					font-size: px(18);
					color:#404040;
					text-decoration:none;
					border:1px solid transparent;
					border-radius:4px;
					&:hover{
						
					}
				}
				&:hover,&.active,&.open {
					>a {						
						color:#f04e3c;	
						border-color:#f04e3c;
					}
					&:after {
						display: block;
					}
				}
			}
		}

	}
}

.navbar-collapse{
	box-shadow: inset 0 1px 0 rgba(255,255,255,0); 
}

.navbar-toggle {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	right: 15px;
	top: 13px;
	width: 31px;
	float: none;
	z-index: 2;
	position: absolute;
	display:none;

	.icon-container {
		width: 32px;
		height: 20px;
		position: absolute;
		top: 0px;
		left: 0px;
		cursor: pointer;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden
	}
	.line01 {
		top: 0;
		opacity: 1;
		-webkit-transition-delay: 210ms;
		-moz-transition-delay: 210ms;
		-ms-transition-delay: 210ms;
		-o-transition-delay: 210ms;
		transition-delay: 210ms
	}
	.line02 {
		top: 7px;
		-webkit-transition-delay: 140ms;
		-moz-transition-delay: 140ms;
		-ms-transition-delay: 140ms;
		-o-transition-delay: 140ms;
		transition-delay: 140ms
	}
	.line03 {
		top: 14px;
		-webkit-transition-delay: 70ms;
		-moz-transition-delay: 70ms;
		-ms-transition-delay: 70ms;
		-o-transition-delay: 70ms;
		transition-delay: 70ms
	}
	.line04 {
		top: 21px;
		opacity: 0;
		-webkit-transition-delay: 0ms;
		-moz-transition-delay: 0ms;
		-ms-transition-delay: 0ms;
		-o-transition-delay: 0ms;
		transition-delay: 0ms
	}
	.line {
		display: block;
		position: absolute;
		left: 0px;
		width: 30px;
		right: 28px;
		height: 3px;
		background-color: #506A88;
		-webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		-moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		-ms-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		-o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	&:hover .line01 {
		opacity: 0;
		-webkit-transition-delay: 0ms;
		-moz-transition-delay: 0ms;
		-ms-transition-delay: 0ms;
		-o-transition-delay: 0ms;
		transition-delay: 0ms
	}
	&:hover .line02 {
		-webkit-transition-delay: 70ms;
		-moz-transition-delay: 70ms;
		-ms-transition-delay: 70ms;
		-o-transition-delay: 70ms;
		transition-delay: 70ms
	}
	&:hover .line03 {
		-webkit-transition-delay: 140ms;
		-moz-transition-delay: 140ms;
		-ms-transition-delay: 140ms;
		-o-transition-delay: 140ms;
		transition-delay: 140ms
	}
	&:hover .line04 {
		opacity: 1;
		-webkit-transition-delay: 210ms;
		-moz-transition-delay: 210ms;
		-ms-transition-delay: 210ms;
		-o-transition-delay: 210ms;
		transition-delay: 210ms
	}
	&:hover .line {
		-webkit-transform: translate3d(0, -7px, 0);
		-moz-transform: translate3d(0, -7px, 0);
		-ms-transform: translate3d(0, -7px, 0);
		-o-transform: translate3d(0, -7px, 0);
		transform: translate3d(0, -7px, 0)
	}
	&.active .line:nth-child(1) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 7px;
		opacity: 1
	}
	&.active .line:nth-child(2) {
		background: none
	}
	&.active .line:nth-child(4) {
		background: none
	}
	&.active .line:nth-child(3) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 7px;
		opacity: 1
	}
	&.active .line {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s
	}
} 

.header-contacts{
	text-align:right;
	color:#404040;
	float:right; 
	padding-top: 9px;
	&-adress{
		font-size:px(15);  
		margin-bottom: 7px
	}
	&-phone{
		font-size:px(20);
		margin-bottom: -2px;	
	}
	&-call{
		color:#7abcc8;
		font-size:px(15);
	}
}